body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
}

h1 {
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    text-decoration: underline;
}

h5 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.grid-container {
    display: inline-grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 10px
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 5;
    text-align-last: center

}
.item1 h2 {
    margin-bottom: 0;
}
.item1 p {
    margin-top: 0;
    margin-bottom: 0;
}
.item1 p:nth-child(3) {
    font-style: italic;
  }

  

.pure-g {
    margin-bottom: 40px;
}

.small-font {
    font-size: 14px;
}